#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

:root {
  --color-dark-blue: #001219;
  --color-teal-blue: #005F73;
  --color-soft-green: #0A9396;
  --color-pale-blue: #94D2BD;
  --color-sand: #E9D8A6;
  --color-sun-yellow: #EE9B00;
  --color-orange: #CA6702;
  --color-dark-orange: #BB3E03;
  --color-redish-brown: #AE2012;
  --color-dark-red: #9B2226;
}

.about-me {
  display: flex;
}

.about-me p {
  color: var(--color-dark-blue);
  font-size: 2em;
}

.about-me-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 200px;
  border-radius: 100%;
}

.header {
  /* position: fixed; */
  background-color: var(--color-pale-blue);
  z-index: 1000;
  padding: 1em;
  margin: .1em;
  /* width: 1280px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Lower, more diffused shadow */
    0 1px 3px rgba(0, 0, 0, 0.08);
  /* Upper, closer shadow for depth */
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

.navbar-nav li {
  display: flex;
  justify-content: space-between;
  margin: 1em;
}

/* .main {
  height: 1000px;
} */

.nav-text {
  color: var(--color-dark-orange);
  font-size: 1.5em;

}

.active {
  color: var(--color-pale-blue);
  font-weight: bold;
}

.main {
  background-color: var(--color-sand);
}

.project-card {
  display: flex;
  background-color: var(--color-sand);
  /* justify-content: center; */
  align-items: center;
  color: var(--color-sand);
  font-size: 3em;
  font-weight: 600;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 3px 0 #000,
    /* Outline effect */
    1px 1px 10px #CA6702;
  /* Additional shadow for depth */
}

.project-background {
  background-color: #e9d8a677;
  box-shadow: 0 4px 60px #e9d8a693,
    /* Lower, more diffused shadow */
    0 10px 30px #e9d8a693;
  /* Upper, closer shadow for depth */

}

.project-card p {
  color: var(--color-pale-blue);
  background-color: #ca660227;
  max-width: fit-content;

}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
  margin-left: 20px;
}

.form input {
  font-size: 1.5em;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 80%;
  height: 3em;
}

.error-text {
  color: var(--color-dark-blue);
  font-size: 2em;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: var(--color-pale-blue);
  z-index: 1000;
  padding: 1em;
  margin: .1em;
  /* width: 1280px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Lower, more diffused shadow */
    0 1px 3px rgba(0, 0, 0, 0.08);
  /* Upper, closer shadow for depth */
}

.footer a {
  width: auto;
margin: 1em;
}