#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

:root {
  --color-dark-blue: #001219;
  --color-teal-blue: #005F73;
  --color-soft-green: #0A9396;
  --color-pale-blue: #94D2BD;
  --color-sand: #E9D8A6;
  --color-sun-yellow: #EE9B00;
  --color-orange: #CA6702;
  --color-dark-orange: #BB3E03;
  --color-redish-brown: #AE2012;
  --color-dark-red: #9B2226;
}


.h1text {
  color: var(--color-soft-green)
}