#root {
  max-width: 1280px;
  /* margin: 0 auto;
  padding: 2rem; */
  text-align: center;
}

:root {
  --color-dark-blue: #001219;
  --color-teal-blue: #005F73;
  --color-soft-green: #0A9396;
  --color-pale-blue: #94D2BD;
  --color-sand: #E9D8A6;
  --color-sun-yellow: #EE9B00;
  --color-orange: #CA6702;
  --color-dark-orange: #BB3E03;
  --color-redish-brown: #AE2012;
  --color-dark-red: #9B2226;
}



.header {
  /* position: fixed; */
  background-color: var(--color-pale-blue);
  z-index: 1000;
  padding: 1em;
  margin: .1em;
  /* width: 1280px; */
  box-shadow: 0 4px 6px rgba(0,0,0,0.1),  /* Lower, more diffused shadow */
               0 1px 3px rgba(0,0,0,0.08); /* Upper, closer shadow for depth */
}

/* .main {
  height: 1000px;
} */

.nav-text{
  color: var(--color-dark-orange);
  font-size: 1.5em;

}

.main{
  background-color: var(--color-sand);
}

.project-card {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  color: var(--color-sand);
  font-size: 3em;
  font-weight: 400;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 3px 0 #000, /* Outline effect */
    1px 1px 10px #CA6702; /* Additional shadow for depth */
}

p {
  color: var(--color-pale-blue);
  background-color:  #ca660227;
  max-width: fit-content;

}